*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}
.header{
    
    
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    height: 17vh;
    position: sticky;
    top: 0px;
}
#notice{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
font-size: 18px;


font-family: 'Montserrat', sans-serif;
color: black;   
    
    
}
#image{
    width: 200px;
    height: 110px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    
}

#menu{
    width: 40%;
   
    display: flex;
    justify-content: space-around;
}

#menu a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-weight: 400;
}
#menu a:hover{
    color: green;
 }




.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 20px;
    
}
.card{
    
    box-shadow:2px 8px 14px 0px hsl(234, 12%, 34%);
    border-radius: 8px;
    padding: 25px;
    margin: 3rem 0;
    max-width: 300px;
    height: 160px;
    background-color: white;
    
}
.card:hover{
    transform: rotateY(360deg);
    transition: 10s;
}
img{
    float: right;
    margin: 10px 10px 0 10px; 
}
.aqua{
    border-top: 5px solid hsl(180, 62%, 55%);
    margin: 0;
}

.blue{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.arrow{
    margin-top: 200px;
    margin-left: 680px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    margin: -10px;
}
.arrow span:nth-child(1){
    animation-delay: -0.2s;
    
}
.arrow span:nth-child(2){
    animation-delay: -0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
#footer{
    margin-top: 150px;
    height: 17vh;
    padding-top: 20px;
    background-color:black;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    color: white;
}
h2{
text-transform: uppercase;

}

#contact {
  
     width: 220px;
}
#address{
    width: 220px;
}
@media screen and (min-width: 1200px) {
    .cards {
      flex-direction: row;
    
    }
    .col{
        margin: 20px;
    }
    
  }
